<div class="columns" style="background-color: white;border-bottom:2px solid black;">
        <div class="column is-8 is-offset-2">
            <div class="menu columns bold" style="color:#cc0000;">
                <div class="column">
                    TOPICS
                </div>			
                <div class="column">
                    <a href="/topics/microservices/" target="">Microservices</a>
                </div>	
                <div class="column">
                    <a href="/topics/mad/" target="">Modern Application</a>
                </div>		
                <div class="column">
                    <a href="/topics/ai-ml/" target="">AI & ML</a>
                </div>
                                                                
            </div>
        </div>
    </div>