<nav class="navbar is-fixed-top bg-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item  white" href="/">
<!--       <img src="/files/media/source_code1600.png" alt="">&nbsp;
 -->      <!-- <span style="margin-left:20px;padding-left:20px;border-left:1px solid black;"><small><strong>Donnie Prakoso</strong></small></span> -->
 <span><small><strong>{{$.Site.Params.name}}</strong></small></span>
      <!-- <small class="black">{{.Title}}</small> -->
    </a>

<!--     <a class="navbar-item is-hidden-desktop  white" href="https://www.linkedin.com/in/donnieprakoso/" target="_blank">
      <span class="icon" style="color: white;">
        <i class="fab fa-linkedin"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop  white" href="https://twitter.com/donnieprakoso" target="_blank">
      <span class="icon" style="color: white;">
        <i class="fab fa-twitter"></i>
      </span>
    </a>
 -->

    <a role="button" class="navbar-burger white"  aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item  white" href="/">
        <small><strong>Home</strong></small>
      </a>

      <a class="navbar-item  white" href="/about/">
        <small><strong>About</strong></small>
      </a>

      <a class="navbar-item  white" href="https://github.com/awsusergroupasean" target="_blank">
        <small><strong><span style=""><i class="fab fa-github" ></i></span> Github</strong></small>
      </a>
    </div>
  </div>

</nav>

